@model IEnumerable<BankData>

@{
    ViewBag.Title = "Banks";
}



<div class="container mt-4">
    <h5 class="mb-3">Bank List</h5>

    <a class="btn mb-3 text-white" style="background-color: #153355;" asp-controller="Bank" asp-action="Create">
        <i class="fas fa-plus mr-2"></i> Add Bank
    </a>

    <table id="bankTable" class="table table-bordered table-striped">
        <thead class="table-light">
            <tr>
                <th>Bank Code</th>
                <th>Bank Name</th>
                <th>Branch</th>
                <th>Branch Code</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>


    </div>
    <script>
        $(document).ready(function () {
            $('#bankTable').DataTable({
                processing: true,
                serverSide: true,
                ajax: {
                    url: '@Url.Action("GetData", "Bank")',
                    type: 'POST'
                },
                columns: [
                    { data: 'b_BANK_CODE', name: 'B_BANK_CODE' },
                    { data: 'b_BANK_NAME', name: 'B_BANK_NAME' },
                    { data: 'bB_BRANCH_CODE', name: 'BB_BRANCH_CODE' },
                    { data: 'bB_BRANCH_NAME', name: 'BB_BRANCH_NAME' },
                    {
                        data: 'id',
                        render: function (data, type, row) {
                            return `
                                <a href="/Bank/Edit/${row.id}"><i class="fas fa-edit" style="color: #153355;"></i></a>
                                <a href="/Bank/Delete/${row.id}" class="ms-2"><i class="fas fa-trash-alt" style="color:red;"></i></a>
                            `;
                        },
                        orderable: false,
                        searchable: false
                    }
                ]
            });
        });
    </script>
