@{
    ViewData["Title"] = "Password Changed Confirmation";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<h1 style="margin-left: 300px;margin-top: 70px;">
    @ViewData["Title"]
</h1>
<p style="margin-left:400px;"><i class="fas fa-check-circle" style="color: green;"></i> Your password has been changed successfully.</p>

