@model ChangePassword
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 75vh;">
    <div class="col-12 col-md-6 col-lg-4">
        <h2 class="text-center mb-4">Change your password</h2>
        <hr />
        <form asp-action="ChangePassword" method="post" class="p-4 shadow rounded bg-white">

            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <!-- Hidden field for UserName -->
            <input asp-for="UserName" type="hidden" />

            <div class="form-floating mb-3">
                <input asp-for="CurrentPassword" class="form-control" autocomplete="current-password"
                       aria-required="true" placeholder="Current Password" />
                <label asp-for="CurrentPassword" class="form-label"></label>
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Password" class="form-control" autocomplete="new-password"
                       aria-required="true" placeholder="New Password" />
                <label asp-for="Password" class="form-label"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password"
                       aria-required="true" placeholder="Confirm New Password" />
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="w-100 btn btn-lg text-white" style="background-color:#153355">
                Change Password
            </button>
        </form>
    </div>
</div>
