@model ExaminerPaymentSystem.ViewModels.Layout.LayoutNavigationModel

@if (Model.IsSystem("Examiner Payment System"))
{

                        @if (Model.Roles.HasAny("Admin", "SuperAdmin"))
                        {
                            <li class="nav-item compact-nav-item">
                                <a class="nav-link px-2" asp-area="" asp-controller="Home" asp-action="Index">
                                    <i class="fas fa-home fa-sm me-1"></i>Home
                                </a>
                            </li>
                            <li class="nav-item compact-nav-item">
                                <a class="nav-link px-2" data-bs-toggle="modal" data-bs-target="#exListModal">
                                    <i class="fas fa-users fa-sm me-1"></i>Examiners List
                                </a>
                            </li>
                            <li class="nav-item compact-nav-item">
                                <a class="nav-link px-2"  href="/Bank/Index" >
                                    <i class="fas fa-university fa-sm me-1"></i>Maintain Banks
                                </a>
                            </li>
                            <li class="nav-item compact-nav-item">
                                <a class="nav-link px-2" href="/Venue/Index" >
                                    <i class="fas fa-map-marker-alt fa-sm me-1"></i>Maintain Venues
                                </a>
                            </li>
                            <li class="nav-item compact-nav-item">
                                <a class="nav-link px-2" href="/Activities/Index">
                                    <i class="fas fa-map-marker-alt fa-sm me-1"></i>Maintain Activities
                                </a>
                            </li>
                            <li class="nav-item compact-nav-item">
                                <a class="nav-link px-2" href="/SubjectVenue/Index">
                                    <i class="fas fa-map-marker-alt fa-sm me-1"></i>Subject Venues
                                </a>
                            </li>

                            <li class="nav-item compact-nav-item">
                                <a class="nav-link px-2" href="/Materials/Index">
                                    <i class="fas fa-map-marker-alt fa-sm me-1"></i>Material Master
                                </a>
                            </li> 
                            <li class="nav-item compact-nav-item">
                                <a class="nav-link px-2" href="/ExamSessions/Index">
                                    <i class="fas fa-map-marker-alt fa-sm me-1"></i>ExamSessions
                                </a>
                            </li>
                             <li class="nav-item compact-nav-item">
                                <a class="nav-link px-2" href="/Examiner/BulkAddExaminers">
                                    <i class="fas fa-map-marker-alt fa-sm me-1"></i>BulkAddExaminers
                                </a>
                            </li>
                            <li class="nav-item compact-nav-item">
                                <a class="nav-link px-2" href="/AuditTrails/Index"   >
                                    <i class="fas fa-history fa-sm me-1"></i>Audit Trail
                                </a>
                            </li>

                            <li class="nav-item dropdown compact-nav-item">
                                <a class="nav-link dropdown-toggle px-2" href="#" data-bs-toggle="dropdown">
                                    <i class="fas fa-receipt fa-sm me-1"></i>Maintain T n S
                                </a>
                                <div class="dropdown-menu dropdown-menu-dark">
                                    <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleVenue2">
                                        <i class="fas fa-list fa-sm me-2"></i>T n S Full List
                                    </a>
                                </div>
                            </li>

                             <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle  text-white" href="#" id="brailleTranscribersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-braille me-1"></i>Braille Transcribers
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="brailleTranscribersDropdown">
                                      <li><a class="dropdown-item  text-white" data-bs-toggle="modal" data-bs-target="#transTeamModal"><i class="fas fa-users me-2"></i>Select Transcribers</a></li>
                                        <li><a class="dropdown-item  text-white" data-bs-toggle="modal" data-bs-target="#transListModal"><i class="fas fa-users me-2"></i>Transcribers</a></li>
                                      <li><a class="dropdown-item  text-white" data-bs-toggle="modal" data-bs-target="#transSelectedModal"><i class="fas fa-users me-2"></i>Selected</a></li>
     
                                    <li><a class="dropdown-item  text-white" data-bs-toggle="modal" data-bs-target="#transTandS"><i class="fas fa-list-ul me-2"></i>Transcribers T n S</a></li>
                                  
                                    <li><a class="dropdown-item  text-white" data-bs-toggle="modal" data-bs-target="#transUsersModal"><i class="fas fa-user-tie me-2"></i>Transcribers (Users)</a></li>

                                </ul>
                            </li>

                            <li class="nav-item dropdown compact-nav-item">
                                <a class="nav-link dropdown-toggle px-2" href="#" data-bs-toggle="dropdown">
                                    <i class="fas fa-user-cog fa-sm me-1"></i>Maintain Users
                                </a>
                                <div class="dropdown-menu dropdown-menu-dark">
                                    <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#usersModal">
                                        <i class="fas fa-user-edit fa-sm me-2"></i>Maintain Examiners
                                    </a>
                       
                                    <a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="IndexStaff">
                                        <i class="fas fa-user-tie fa-sm me-2"></i>Maintain Zimsec Staff
                                    </a>
                                </div>
                            </li>

                            <li class="nav-item dropdown compact-nav-item">
                                <a class="nav-link dropdown-toggle px-2" href="#" data-bs-toggle="dropdown">
                                    <i class="fas fa-user-cog fa-sm me-1"></i>Export To Oracle
                                </a>
                                <div class="dropdown-menu dropdown-menu-dark">
                                   <a class="dropdown-item" asp-area="" asp-controller="ManageTeams" asp-action="Report">
                                    <i class="fas fa-braille fa-sm me-2"></i>Check List
                                    </a>
                                    <a class="dropdown-item" asp-area="" asp-controller="ManageTeams" asp-action="Report2">
                                        <i class="fas fa-braille fa-sm me-2"></i>Selected Examiners (Subject)
                                    </a>
                                    <a class="dropdown-item" asp-area="" asp-controller="ManageTeams" asp-action="Report3">
                                        <i class="fas fa-braille fa-sm me-2"></i>Selected Examiners (Full)
                                    </a>
                                       <a class="dropdown-item" asp-area="" asp-controller="ManageTeams" asp-action="Report4">
                                        <i class="fas fa-braille fa-sm me-2"></i>Download Org Card
                                    </a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Examiner" asp-action="ExportExaminersToOracle">
                                        <i class="fas fa-braille fa-sm me-2"></i>Export Examiners To Oracle
                                    </a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Examiner" asp-action="ImportExaminersFromOracle">
                                        <i class="fas fa-user-tie fa-sm me-2"></i>Import Examiners From Oracle
                                    </a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Transaction" asp-action="ExportExaminerRefCatToOracle">
                                        <i class="fas fa-braille fa-sm me-2"></i>Export Share PanelsTo Oracle
                                    </a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Transaction" asp-action="ExportExaminerTransactionToOracle">
                                        <i class="fas fa-user-tie fa-sm me-2"></i>Export Selected Examiners To Oracle
                                    </a>

                              @*       <a class="dropdown-item" asp-area="" asp-controller="Transaction" asp-action="ImportExaminerTransactionFromOracle">
                                        <i class="fas fa-user-tie fa-sm me-2"></i>Import Selected Examiners From Oracle
                                    </a> *@
                                </div>
                            </li>
                           
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="reportsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-chart-bar me-1"></i>Reports
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="reportsDropdown">
                                    <li><a class="dropdown-item text-white" asp-area="" asp-controller="Reports" asp-action="TandSCheckReport"><i class="fas fa-file-excel me-2"></i>T and S Reporting</a></li>
                                    <li><a class="dropdown-item text-white" asp-area="" asp-controller="Reports" asp-action="ScriptsMarkedCheckReport"><i class="fas fa-file-csv me-2"></i>Script Marked Reporting</a></li>
                                    <li><a class="dropdown-item text-white" asp-area="" asp-controller="Reports" asp-action="ReportRegister"><i class="fas fa-file-pdf me-2"></i>Register Report</a></li>
                                       <li><a class="dropdown-item text-white" asp-area="" asp-controller="Reports" asp-action="CheckList"><i class="fas fa-file-excel me-2"></i>Clear Me</a></li>
                                </ul>
                            </li>
                            }

}
else
{


                            @if (Model.Roles.HasAny("Admin", "SuperAdmin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">
                                        <i class="fas fa-home fa-sm me-1"></i>Dashboard
                                    </a>
                                </li>
                                <li class="nav-item compact-nav-item">
                                    <a class="nav-link px-2 text-white" href="/ExamMonitors/Recruitment">
                                        <i class="fas fa-user-tie fa-sm me-1"></i>New Applications
                                    </a>
                                </li>
                                <li class="nav-item compact-nav-item">
                                    <a class="nav-link px-2 text-white" href="/ExamMonitors/Index">
                                        <i class="fas fa-user-tie fa-sm me-1"></i>Accepted Monitors
                                    </a>
                                </li>
                                <li class="nav-item compact-nav-item">
                                    <a class="nav-link px-2 text-white" href="/ExamMonitorsTransactions/Index">
                                        <i class="fas fa-check-circle fa-sm me-1"></i>Selected Monitors
                                    </a>
                                </li>

                                <li class="nav-item compact-nav-item">
                                    <a class="nav-link px-2 text-white" href="/Phases/Index">
                                        <i class="fas fa-sitemap fa-sm me-1"></i>Phases
                                    </a>
                                </li>

                                <li class="nav-item compact-nav-item">
                                    <a class="nav-link px-2 text-white" href="/Centres/Index">
                                        <i class="fas fa-university fa-sm me-1"></i>Manage Centres
                                    </a>
                                </li>
                                <li class="nav-item compact-nav-item">
                                    <a class="nav-link px-2 text-white" href="/Districts/Index">
                                        <i class="fas fa-sitemap fa-sm me-1"></i>Districts
                                    </a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-white" href="#" id="reportsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-chart-bar me-1"></i>Reports
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="reportsDropdown">
                                        <li><a class="dropdown-item text-white" href="/ExamMonitorsReports/AssignmentReport"><i class="fas fa-file-excel me-2"></i>Deployment Report</a></li>

                                    </ul>
                                </li>

                                <li class="nav-item dropdown compact-nav-item">
                                    <a class="nav-link dropdown-toggle px-2" href="#" data-bs-toggle="dropdown">
                                        <i class="fas fa-user-cog fa-sm me-1"></i>Maintain Users
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-dark">
                                        <a class="dropdown-item" href="/Users/IndexExamMonitors">
                                            <i class="fas fa-user-edit fa-sm me-2"></i>Maintain Monitors
                                        </a>

                                        <a class="dropdown-item" asp-area="" asp-controller="Users" asp-action="IndexStaff">
                                            <i class="fas fa-user-tie fa-sm me-2"></i>Maintain Zimsec Staff
                                        </a>
                                    </div>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-white" href="#" id="reportsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-chart-bar me-1"></i>Reports
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="reportsDropdown">
                                        <li><a class="dropdown-item text-white" href="/ExamMonitorsReports/ExamMonitorsReport"><i class="fas fa-file-excel me-2"></i>Exam Monitors Report</a></li>
                                        <li><a class="dropdown-item text-white" href="/ExamMonitorsReports/AssignmentReport"><i class="fas fa-file-excel me-2"></i>Deployment Report</a></li>
                                        <li><a class="dropdown-item text-white" href="/ExamMonitorsReports/ClusterReport"><i class="fas fa-file-excel me-2"></i>Centres Report</a></li>
                                    </ul>
                                </li>

                            }

}
