

@{

}



<div class="card rounded-4">
    <div class="card-body">
        <div class="d-flex align-items-center">
        </div>
        <table id="auditTrailTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Module</th>
                    <th>Affected Table</th>
                    <th>Timestamp</th>
                    <th>User</th>
                    <th>View</th>
                </tr>
            </thead>
        </table>

    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#auditTrailTable').DataTable({
                processing: true,
                serverSide: true,
                ajax: {
                    url: '@Url.Action("GetData", "AuditTrails")',
                    type: 'POST'
                },
                columns: [
                    { data: 'action', name: 'Action' },
                    { data: 'module', name: 'Module' },
                    { data: 'affectedTable', name: 'AffectedTable' },
                    { data: 'timeStamp', name: 'TimeStamp' },
                    { data: 'user', name: 'User' },
                    {
                        data: 'id',
                        render: function (data, type, row) {
                            return `<a class="btn btn-warning" href="/AuditTrails/Details/${data}">Details</a>`;
                        },
                        orderable: false,
                        searchable: false
                    }
                ]
            });
        });
    </script>
}
